@model TesteDotNet.Core2._0.Models.CadastroViewModel;

@{
    ViewData["Title"] = "Cadastro";
}

<h3 class="page-header">Adicionar Item</h3>
@using (Html.BeginForm("SalvarItem", "Home"))
{
    <div class="row">
        <div class="form-group col-md-8">
            <label>Nome:</label>
            @Html.TextBoxFor(x => x.Item.Name, new { Class = "form-control" })
        </div>

        <div class="form-group col-md-8">
            <label>Descrição:</label>
            @Html.TextBoxFor(x => x.Item.Description, new { Class = "form-control" })
        </div>

        <div class="form-group col-md-6">
            @Html.DisplayNameFor(model => model.Category)
            @Html.DropDownListFor(x => x.Item.CategorieID, new SelectList(Model.Categories, "Id", "CategoryName"))
        </div>
    </div>

    <hr />
    <div id="actions" class="row">
        <div class="col-md-12">
            <button type="submit" class="btn btn-primary">Salvar</button>
            <a href="#" class="btn btn-default">Cancelar</a>
        </div>
    </div>
}
